body {
    font-family: Roboto, sans-serif;
    margin: 0px;
}

img{
    max-width: 100%;
}

/*Common Button Style*/
button{
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 700;
    border: none;
    border-radius: 5px;
}

/*Unique Button Styling*/
.hero-left button{
    padding: 8px 19px;
}

.call-to-action button{
    padding: 8px 19px;
    border: 3px solid white;
}

/*Header*/
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 12px 200px;
    align-items: center;
    flex-wrap: wrap;
}

.header .logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
}

.header ul{
    list-style: none;
    display: flex;
    gap: 25px;
}

.header a{
    color: #F9FAF8;;
    text-decoration: none;
}

/* Hero */
.hero{
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 100px 0px;
}

/*Hero-Left*/
.hero-left{
    width: 500px;
}

.hero-left h1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 5px;
}

.hero-left p{
    font-size: 18px;
    color: #E5E7EB;
}

/*Hero-Right*/
.hero-right{
    background-color: gray;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Information*/
.information h3{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937
}

.information{
display: flex;
flex-direction: column;
align-items: center;
padding: 48px 0 82px 0;
gap: 50px
}

.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 170px;
}

.card p{
    text-align: center;
}

.image-placeholder{
    border: 3px solid #3882F6;
    width: 170px;
    height: 170px;
    border-radius: 15px;
}

/*uQuote*/
.quote {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 430px;
}

.quote-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote-container q{
font-size: 26px;
font-weight: 100;
font-style: italic;
align-self: flex-end;
margin: 0;
}

.quote-container p{
    font-weight: 700;
    font-size: 18px;
}

/*Call to Action*/

.call-to-action{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-container{
    background-color: #3882F6;
    color:#F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.action-container-right{
    display: flex;
    align-items: flex-end;
}

.action-container button {
    border: solid 
    px #F9FAF8;
    padding: 7px 32px;
    margin-top: 5px;
}

.action-container h4 {
    margin: 3px 0;
    font-weight: 700;
    font-size: 22px;  
    margin-bottom: 6px;  
}

.action-container p {
    margin: 3px 0;
    font-size: 18px;
}

/*Footer*/
.footer{
    background-color: #1F2937;
    padding: 15px;
    color: #E5E7EB;
    text-align: center;
}